@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';

.wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(224, 224, 224, 0.5);

  .candidate-info {
    display: flex;
    justify-content: space-between;

    .candidate-details {
      flex: 1;
    }

    .cancel {
      height: 32px;
    }

    .consideration {
      height: 32px;
      margin-right: 20px;
    }

    ::ng-deep .btn_secondary, ::ng-deep .btn_primary {
      @include font-base(14px, 400, 22px);

      width: 165px;
      height: 32px;
    }

    ::ng-deep .tooltip {
      margin-top: 5px;
    }

    ::ng-deep .candidate {
      border-top: none;
    }
  }

  .common-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-box {
      margin: 10px 25px 0 0;
      display: flex;
      align-items: center;
    }

    &-icon {
      @include font-base(10px, 400, 12px);

      background: $white-color;
      border: 1px solid rgba(224, 224, 224, 0.5);
      box-sizing: border-box;
      border-radius: 4px;
      padding: 4px;
      color: $text-secondary;
      width: 23px;
      height: 20px;
      cursor: pointer;
      margin-right: 5px;

      &:hover {
        background: $text-tertiary;
      }
    }

    &-location {
      margin-top: 2px;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    &-project {
      color: $white-color;
      cursor: pointer;
      margin-right: 5px;

      &:hover {
        color: $text-tertiary;
      }
    }

    &-link {
      @include font-base(14px, 400, 140%);

      color: $text-primary;
      border-bottom: 1px dashed $text-secondary;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        border-color: $border-link-hover;
      }

      &-inactive {
        color: $text-disabled;
      }
    }

    &-name {
      @include font-base(14px, 400, 140%);

      color: $text-primary;
    }
  }

  ::ng-deep {
    .candidate {
      padding: 0 0 10px 0;
    }

    .candidate-name-link,
    .candidate-name-inactive {
      font-size: 20px;
    }

    .candidate-position-box {
      font-size: 16px;
    }
  }
}

::ng-deep {
  .tooltip-content {
    span {
      margin-left: 30px;
    }
  }
}
