@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';
@import '~src/styles/shared-styles/vars';

.location {
  margin-left: 40px;
  display: flex;
  align-items: center;

  &__icon {
    margin: 1px 5px 0 0;
  }

  &__name {
    @include font-base(16px, normal, 19px);

    color: $white-color;
    height: 22px;
    cursor: pointer;
    border-bottom: 1px solid $border-link-hover;
  }
}
