.product {
  display: flex;
  height: 82px;

  &__spacer {
    flex: 1 1 0;
  }

  & * {
    box-sizing: border-box;
  }

  &__image {
    display: flex;
    width: 82px;
    min-width: 82px;
    height: 82px;
    margin-right: 32px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    line-height: 32px;
    font-size: 24px;
    font-weight: 300;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__parameters {
    display: flex;
  }

  &__parameter {
    min-width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    border-left: 1px solid #EBEBEB;
    padding: 0 32px;

    &.sizes {
      max-width: 120px;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child, &:first-child {
      border-left: none;
    }

    &:last-child {
      padding-left: 0px;
      padding-right: 0;

      .is-add-to-cart & {
        text-align: right;
      }
    }

    &_title {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      color: #828282;
      margin-right: 16px;
    }

    &_control {
      width: 100%;
    }
  }
}
