<mat-form-field
  [ngClass]="{active: startValue && endValue}"
  class="date"
  floatLabel="never">
  <mat-date-range-input 
    [ngClass]="{active: startValue && endValue}"
    [rangePicker]="picker">
    <input 
      matStartDate
      placeholder="Start date"
      [(ngModel)]="startValue"
      [disabled]="disabled || isInputDisabled"
      (dateChange)="checkAndEmit()">
    <input
      matEndDate
      placeholder="End date"
      [(ngModel)]="endValue"
      [disabled]="disabled || isInputDisabled"
      (dateChange)="checkAndEmit()">
  </mat-date-range-input>
  <mat-date-range-picker #picker
    (closed)="onClose()"
    [disabled]="!isInputDisabled">
  </mat-date-range-picker>
  <button 
    [ngClass]="{active: startValue && endValue}"
    class="button"
    [disabled]="disabled"
    [innerHTML]="dateIcon | safe"
    (click)="picker.open()">
  </button>
</mat-form-field>

<div *ngIf="error" class="error-text">{{ errorMessage }}</div>
