@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';

.external-header {
  background-color: $white-color;
  filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.05));
  z-index: 1;
  position: relative;

  &-wrapper {
    padding: 21px 0;
    max-width: 1340px;
    margin: 0 30px;

    @media (max-width: $tablet) {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    @media (max-width: $mobile) {
      margin: 0 20px;
    }
  }

  &-content {
    display: inline-flex;
    align-items: center;

    @media (max-width: $mobile) {
      width: 100%;
      justify-content: space-between;
    }

    .logo-long ::ng-deep svg  {
      path:first-child {
        fill: $secondary-logo;
      }
    }
  }

  &-text {
    font-weight: 800;
    font-size: 16px;

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &-icon {
    margin-right: 15px;

    ::ng-deep {
      svg {
        width: 40px;
        height: 40px;

        @media (max-width: $tablet) {
          width: 31px;
          height: 31px;
        }
      }
    }
  }

  &-info-icon {
    display: none;

    ::ng-deep {
      width: 40px;
      height: 40px;

      @media (max-width: $mobile) {
        display: block;
      }
    }
  }
}
