<div class="objectives-instruction">
  <button mat-dialog-close class="objectives-instruction-close" [innerHTML]="closeIcon | safe"></button>

  <div class="objectives-instruction-title">Instruction</div>

  <div class="objectives-instruction-text">
    Have you set your objectives yet?
  </div>

  <div class="objectives-instruction-text">
    Contact your RM. Together you can define the objective, acceptance criteria and the date your
    objective should be achieved. RM saves this information in your account on Portal.
    When the objective is reached, inform RM and they change the status of the objective on Done.
  </div>

  <div class="objectives-instruction-text">
    We also understand that sometimes the objective is so ambitious that you don’t have enough time and ability
    to achieve it in time. In that case the status of the objective will be Failed and you can restart it one more time.
  </div>

  <div class="objectives-instruction-text">
    Your goals are the road maps that guide you and show you what is possible for your life.
  </div>

  <button mat-dialog-close class="objectives-instruction-btn">
    I got it
  </button>
</div>
