@import 'src/styles/shared-styles/colors';
@import 'src/styles/shared-styles/mixins';
@import 'src/styles/shared-styles/_vars.scss';

.mat-dialog-container {
  padding: 0;
  border-radius: 0;
}

.objectives-modal-wrapper {
  padding: 40px 50px 50px;
  position: relative;
}

.objectives-modal {
  @include font-base(16px, 400, 26px, normal);

  color: $objectives-text-color;

  &-close {
    @include transition;

    position: absolute;
    right: 17px;
    top: 17px;
    cursor: pointer;
    opacity: 0.5;
    border: none;
    background-color: transparent;
    stroke: $white-color;
    stroke-width: 1px;
    fill-opacity: 0.5;
    width: 20px;
    height: 20px;

    &:hover {
      opacity: 1;
    }
  }

  &-title {
    @include font-base(24px, 400, 32px, normal);

    padding-bottom: 10px;
  }

  textarea.form-input {
    @include font-base(16px, 400, 25.6px);

    .hint-message {
      color: $assessment-error-color;
    }

    &:focus {
      color: $objectives-text-color;
    }
  }

  textarea.mat-input-element {
    padding: 0;
  }

  .placeholder,
  .mat-form-field-label {
    color: $tag-box-border !important;
    font: 16px/25.6px, 400 !important;
  }

  &-field {
    margin-top: 33px;
  }

  &-raw {
    display: flex;
    justify-content: space-between;

    .label {
      display: none;
    }
  }

  &-column {
    width: 320px;

    .date {
      .mat-form-field {
        padding-bottom: 20px;

        &-infix,
        &-label {
          color: $tag-box-border !important;
          font: 16px/25.6px, 400 !important;
        }

        &-input {
          color: $assessment-error-color;
        }

        &-label {
          font-weight: 300;
        }
      }
    }

    .mat-form-field-label {
      .label {
        font-size: 16px;
      }
    }

    .mat-input-element {
      @include font-base(16px, 400, 22.6px);
    }
  }

  &-buttons {
    margin-top: 50px;

    .btn {
      width: 155px !important;
      font-size: 14px !important;

      &_secondary {
        margin-right: 40px;
        border: 2px solid $primary;
      }
    }
  }
}

.select {
  .mat-form-field-flex {
    height: 33px;
  }
}

.select-as-text {
  .mat-form-field-flex {
    height: 33px;

    .mat-form-field-infix {
      border: none;
    }
  }
}

.mat-input-element:disabled {
  color: $objectives-text-color;
}

.objectives-modal-buttons-btn-cancel {
  margin-right: 40px;
}

andteam-date-picker {
  .error-text {
    position: relative !important;
    bottom: -15px !important;
  }
}

.objective-panel-class {
  position: absolute;
  top: 28px;
  left: 16px;
  min-width: 100% !important;
}
