@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';
@import '~src/styles/shared-styles/vars';

.wrapper {
  background: $main-page-background;
  min-height: 100%;
  padding-top: 64px;

  @media (max-width: $wrapper-portal) {
    width: $wrapper-portal;
  }
}

.card-body {
  max-width: 1340px;
  width: 100%;
  margin: 83px auto 0;
  box-sizing: border-box;

  ::ng-deep {
    .tab-wrapper {
      padding: 100px 110px;
    }
  }

  .backward {
    margin: 45px 0 45px 10px;
  }

  .navigation-panel-wrapper {
    margin-top: 30px;

    .navigation-panel {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid rgba(128, 134, 141, 0.5);
      margin-bottom: 19px;
    }

    .tabs-wrapper {
      min-width: 100%;
      max-width: 1100px;
      width: 100%;
    }

    ::ng-deep {
      .nav.nav-tabs {
        padding: 0;
        align-items: center;
        height: 70px;
        border-bottom: none;
        margin-bottom: 0;

        .tabs-item {
          padding: 26px 0;
          margin-right: 50px;
          min-width: 10px;

          &.active {
            color: $white-color;
          }
        }
      }
    }
  }
}
