@import '~src/styles/shared-styles/mixins';
@import '~src/styles/shared-styles/colors';

.card {
  width: 100%;
  padding: 0 40px 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  background-color: $white-color;
}

.card-active {
  border-bottom: 4px solid $primary;
}

.card-canceled {
  color: $text-secondary;

  .label {
    text-decoration-line: line-through;
  }

  .card-date {
    @include font-base(16px, 300, 110%);

    text-decoration-line: line-through;
  }

  .card-body-cell-matrix {
    color: $text-secondary;
    border-bottom: 2px solid $assessment-border-color;

    &:hover {
      cursor: default;
    }
  }

  .card-body-cell-interviewer-icon {
    &:hover {
      cursor: default;
    }
  }

  .card-body-cell-interviewer-name {
    color: $text-secondary;

    &:hover {
      cursor: default;
    }
  }
}

.card-header {
  display: flex;
  height: 80px;
}

.card-head-info {
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1 0 auto;
  margin: 20px 0;
}

.card-head-info-left {
  @include font-base(16px, 300, 110%);
}

.card-head-info-right {
  @include font-base(14px, 200, 130%);
}

.card-canceled-badge {
  @include font-base(14px, normal, 16px);

  display: inline-block;
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $text-primary;
  background-color: $assessment-border-color;
  padding: 9px 12px;
  margin-right: 20px;
}

.label {
  @include font-base(16px, normal, 110%);
}

.card-body {
  display: flex;
  border-top: 1px solid $border;
  padding: 30px 0 20px;
}

.card-body-col {
  display: flex;
  flex-direction: column;

  & + & {
    margin-left: 80px;
  }
}

.card-body-col-title {
  @include font-base(16px, normal, 125%);

  margin-bottom: 16px;
}

.card-body-cell {
  @include font-base(14px, 300, 129%);

  display: flex;
  flex-grow: 2;
  align-items: center;

  & + & {
    margin-top: 17px;
  }
}

.card-body-cell-matrix-wrapper + .card-body-cell-matrix-wrapper {
  margin-top: 16px;
}

.card-body-cell-matrix {
  @include font-base(14px, bold, 130%);

  cursor: pointer;
  color: $text-primary;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid $border-link-hover;

  &:hover {
    border-bottom: none;
  }
}

.card-body-cell-interviewer {
  display: flex;
  flex-grow: 2;
  align-items: center;

  &-icon {
    margin-right: 15px;
    color: $text-secondary;
    cursor: pointer;
  }

  &-icon:hover {
    color: $primary;
  }

  &-icon-disabled {
    margin-right: 15px;
    color: $skype-disabled-color;
    cursor: default;
  }

  &-icon-inactive {
    margin-right: 15px;
    color: $text-disabled;

    &:hover {
      color: $text-disabled;
    }
  }

  &-wrapper {
    display: flex;
    flex-grow: 2;
    align-items: center;
  }

  &-name {
    @include font-base(14px, 300, 140%);

    color: $text-primary;
    border-bottom: 1px dashed $text-tertiary;
    display: block;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      border-bottom: 1px dashed $primary;
    }

    &-inactive {
      color: $text-disabled;
    }
  }

  & + & {
    margin-top: 11px;
  }
}
