@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';

.menu {
  position: relative;

  &-list {
    position: absolute;
    margin-top: 12px;
    top: 35px;
    right: 0;
    background: $white-color;
    padding: 6px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    width: 104px;
    z-index: 1;
  }

  &-item {
    @include font-base(14px, 400, 16px);

    color: $username-color;
    padding: 15px 30px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: $menu-item-background;
    }
  }
}

