@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';

.col-not-found {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $body-background;
  z-index: 11;

  .btn_primary {
    max-width: 180px;
    width: 100%;
  }
}

.not-found {

  &-title {
    @include font-base(50px, 700, 50px);

    color: $text-primary;
    margin: 20px auto 30px;
  }

  &-text {
    @include font-base(18px, 400, 26px);

    color: $text-secondary;
    margin: 0 auto 40px;
    max-width: 600px;
  }
}
