<div class="col col-not-found">
  <andteam-card>
    <div class="wrapper">
      <div class="not-found-img">
        <img src='../../../../../../assets/images/404.svg' alt="404-img">
      </div>
      <div class="not-found-title">Page not found</div>
      <p class="not-found-text">Sorry, we can’t find the page you were looking for. Shall we try again?</p>
      <div class="btn-group">
        <andteam-button [type]="'primary'" (click)="goToBack()">Back</andteam-button>
      </div>
    </div>
  </andteam-card>
</div>
