@import 'src/styles/shared-styles/colors';
@import 'src/styles/shared-styles/mixins';
@import 'src/styles/shared-styles/_vars.scss';

.tab-wrapper {
  @include font-base(16px, 400, 26px, normal);

  position: relative;
  background-color: $body-background;
  color: $objectives-text-color;
  padding: 60px 68px !important;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;

    &-block {
      display: flex;
      align-items: center;

      .text {
        @include font-base(42px, 300, 55px);

        margin-right: 10px;
      }
    }

    .add-button {
      @include font-base(14px, 500, 17px);

      background-color: $border-link-hover;
      cursor: pointer;
      border: none;
      padding: 12px 30px;

      &:hover {
        background-color: $primary-hover;
      }

      &:focus {
        background-color: $primary-hover;
      }
    }
  }
}
