@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';

.select-wrapper {
  position: relative;
  cursor: pointer;

  &-close {
    position: absolute;
    right: 0;
    top: -1px;

    & svg path {
      fill: $primary;
    }
  }

  .mat-form-field {
    display: block;

    &-wrapper {
      padding-bottom: 0;
    }

    &-flex {
      padding: 0 !important;
      background-color: transparent;
    }

    &-underline {
      display: none;
    }

    &-label {
      transform: translate(0) !important;
      top: 0;
      width: 100% !important;
      margin: 0;
      display: flex;
    }

    &-label-wrapper {
      position: static;
      padding: 0;
    }

    &-infix {
      display: flex;
      padding: 0;
      border: 0;
    }
  }

  .icon {
    position: absolute;
    top: 1px;
    margin-left: 4px;
  }

  .mat-select-arrow-wrapper {
    visibility: hidden;
    opacity: 0;
  }

  .mat-select {
    width: 350%;

    &-trigger {
      display: block !important;
      height: 22px;
    }
  }

  mat-label {
    @include font-base(14px, 500, 21px);

    color: $table-header;
  }

  &.center {
    & .mat-form-field-label-wrapper {
      text-align: center;
      width: 100%;
    }
  }

  .mat-focused {
    svg path {
      fill: $primary;
    }
  }

  .mat-form-field {
    display: block;

    &-wrapper {
      top: 0;
    }

    &-infix {
      top: 0;
      width: 120px;
    }
  }
}

.cdk-overlay-pane {
  .mat-select-panel-bottom {
    width: 100%;
    min-width: calc(100% + 37px) !important;
    position: absolute;
    top: 33px !important;
    left: 16px;
    border-radius: 0 !important;
    border-top: 1px solid $tag-box-border;
  }

  .mat-select-panel-left {
    position: absolute;
    left: -135px;
  }
}

.mat-option.option-text {
  color: $objectives-text-color;
  padding: 0 15px;
}
