@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';

.hr-interview-form {
  display: flex;
  flex-direction: column;

  margin-top: 20px;

  &__item {
    position: relative;
    min-height: 104px;
    background-color: $white-color;
    box-sizing: border-box;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.03);
    border-radius: 2px;
    margin-top: 20px;
    padding: 30px 40px;

    &-label {
      @include font-base(18px, 400, 28.8px);
    }

    &-user {
      @include font-base(18px, 400, 160%);

      display: flex;
      align-items: center;
      margin-top: 10px;

      .user-photo-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .user-name {
        margin-left: 20px;
      }
    }

    &-filled {
      position: absolute;
      width: 2px;
      top: 0;
      left: 0;
      height: 100%;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      background-color: $primary;
    }

    &.error {
      border: 1px solid $red-color;
    }

    &-radiobuttons {
      .radio-group {
        display: flex;
        flex-direction: column;

        &-button {
          margin-top: 10px;

          &-item {
            display: flex;
            align-items: center;
          }

          .mat-radio-label {
            align-items: center;
          }
        }

        .mat-radio-button {
          &.mat-radio-checked .mat-radio-outer-circle {
            border-color: $primary;
          }

          .mat-radio-inner-circle {
            background-color: $primary;
          }
        }
      }

      .mat-radio-outer-circle {
        border: 1px solid $border-bottom-color;
      }

      .mat-radio-container {
        margin-top: 3px;
      }
    }

    &-checkboxes {
      .checkbox-item-wrapper {
        margin-top: 10px;
      }

      &.first {
        display: flex;
        flex-wrap: wrap;

        .checkbox-item-wrapper {
          width: 50%;
        }

        textarea.mat-input-element {
          margin: -4px 0;
        }
      }

      .mat-checkbox .mat-checkbox-inner-container {
        width: 22px;
        height: 22px;
        margin-top: 3px;
      }

      .mat-checkbox-checked .mat-checkbox-background {
        background-color: $primary;
      }

      .mat-checkbox-frame {
        border: 1px solid $border-bottom-color;
      }

      .mat-checkbox-label {
        display: flex;
        align-items: flex-start;
      }
    }

    &-error {
      @include font-base(14px, 400, 22.4px);

      display: flex;
      align-items: center;
      color: $red-color;
      margin: 10px 0 0 6px;

      .item-error-circle {
        width: 15px;
        height: 15px;
        position: relative;
        border-radius: 50%;
        box-sizing: border-box;
        border: 1px solid $red-color;

        &::before {
          content: '!';
          position: absolute;
          bottom: 41%;
          left: 37%;
          height: 12px;
        }
      }

      .item-error-label {
        margin-left: 8px;
      }
    }
  }

  &__button {
    margin-top: 50px;
  }

  .hr-interview-form-textarea {
    margin: -6.2px 0 0 10px;

    textarea {
      @include font-base(14px, 400, 16.41px);

      min-height: 17px !important;
      caret-color: $objectives-text-color;

      &.mat-input-element {
        margin: -2.5px 0;
      }
    }

    .mat-form-field-flex {
      width: 700px;
      border-bottom: 1px solid $tag-box-border !important;
    }

    .mat-form-field-infix {
      padding: 0 0 5px 0;
    }

    .placeholder {
      @include font-base(16px, 400, 25.6px);

      color: $tag-box-border !important;
    }

    .mat-form-field-label-wrapper {
      top: -1.2em;
    }
  }

  .hr-interview-form-label {
    display: flex;
    align-items: center;
    margin-top: 2px;
  }

  .mat-checkbox-layout {
    white-space: normal !important;
  }
}

.english-version {
  &.first {
    display: grid;
    grid-template-rows: 30px 30px;
    grid-template-columns: 1fr 1fr;

    .checkbox-item-wrapper:nth-child(2) {
      grid-row: 1/3;
      grid-column: 2;
    }

    .checkbox-item-wrapper {
      width: 100%;

      &:last-of-type {
        grid-row: 6;
        grid-column: 1/3;
      }
    }
  }
}


