<div class="objectives-instruction">
  <button mat-dialog-close class="objectives-instruction-close" [innerHTML]="closeIcon | safe"></button>

  <div class="objectives-instruction-title">Instruction</div>

  <div class="objectives-instruction-text">
    Have you set your objectives yet?
  </div>

  <div class="objectives-instruction-text">
    Objectives with Done and Failed status are placed to the Archived table.
    These objectives are available for viewing forever.
    Due to this information you can follow your progress on Portal.
  </div>

  <div class="objectives-instruction-text">
    The more goals you set — the more goals you get.
  </div>

  <button mat-dialog-close class="objectives-instruction-btn">
    I got it
  </button>
</div>
