@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';

:host {
  flex: 1;
  margin-right: 120px;
  max-width: 350px;
}

.form {
  position: relative;

  &-input {
    @include transition;
    @include font-base(18px, 300, 25px);

    background: transparent;
    border: none;
    border-bottom: 1px solid $portal-border-color;
    color: $black-color;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;

    &::placeholder {
      color: $tag-title-color;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }
}
