@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';

.modal {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  color: $objectives-text-color;

  &-title {
    @include font-base(24px, 300, 31.2px);

    text-align: center;
  }

  &-title-caution {
    @include font-base(24px, 300, 31.2px);

    text-align: center;
  }

  &-add-info {
    @include font-base(14px, 400, 22.4px);

    text-align: center;
    color: $tag-box-border;
  }

  &-button {
    .btn {
      @include font-base(14px, 500, 16.41px);
    }
  }
}
