@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';

:host {
  position: absolute;
  width: 330px;
  z-index: 1;
  background: $white-color;
  box-shadow: 0 5px 15px $filter-list-box-shadow;
  border-radius: 4px;
  left: 0;
  top: 60px;

  .filters {
    padding: 5px 0 0 0;

    &-box {
      padding: 15px 25px;
      border-bottom: 1px solid $assessment-border-color;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    &-title {
      @include font-base(12px, 400, 20px);

      color: $text-secondary;
      margin-bottom: 5px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 33px 20px;

    .text-button {
      margin-top: 10px;
    }

    ::ng-deep .btn_primary {
      @include font-base(14px, 400, 22px);

      width: 120px;
      height: 32px;
      margin-top: 10px;
    }
  }
}

