@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';
@import '~src/styles/shared-styles/vars';

:host {
  width: 100%;

  .feedback {
    &-title {
      @include font-base(16px, normal, 125%);

      display: flex;
      justify-content: space-between;
      position: relative;
    }

    &-tooltip {
      margin-left: 10px;

      &_content {
        @include font-base(12px, 300, 16px);

        width: 330px;
        padding: 9px 7px;
        position: relative;
        z-index: $tooltip-z-index;

        .tips-list {
          list-style-type: none;
        }

        .tip {
          @include font-base(12px, 300, 16px);

          margin-top: 5px;

          &::before {
            width: 3px;
            height: 3px;
            margin-right: 3px;
            content: '\2022';
            font-size: 14px;
            color: $primary;
          }
        }
      }
    }

    &-textarea {
      margin-top: 20px;

      &:hover {
        ::ng-deep .textarea-wrapper {
          border-bottom: 1px solid $primary;
        }
      }
    }
  }

  .control-panel {
    display: flex;
    justify-content: space-between;

    &__icons {
      .feedback-icon {
        margin-left: 20px;

        &:hover {
          cursor: pointer;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

::ng-deep {
  .tooltip-content {
    span {
      width: 330px !important;
      padding: 20px !important;
    }
  }
}
