@import '~src/styles/shared-styles/colors';
@import '~src/styles/shared-styles/mixins';

.btn-group > :host {

  .btn {
    max-width: 180px;
    width: 100%;

    &:first-child {
      margin-right: 20px;
    }
  }
}

.btn {
  @include transition;
  @include font-base(14px, 500, 16px);

  border: none;
  width: 180px;
  box-shadow: none;
  padding: 12px 25px;
  color: $text-primary;
  margin: 0;
  outline: none;
  cursor: pointer;
  text-transform: inherit;

  &:active {
    box-shadow: none;
  }

  &_primary {
    background-color: $primary;

    &:hover {
      background-color: $primary-hover;
    }

    &:active {
      background-color: $primary-active;
    }

    &:disabled {
      color: $text-secondary;
      background-color: $primary-disabled;
      cursor: auto;
    }
  }

  &_secondary {
    background-color: transparent;
    border: 1px solid $primary;

    &:hover {
      border-color: $border-hover;
    }

    &:active {
      color: $text-primary;
      border-color: $border-active;
    }

    &:disabled {
      color: $text-tertiary;
      background-color: transparent;
    }
  }
}
